@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--main-font-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.wrapper {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}

.content-page-wrapper {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.content-page {
  padding: 0 30px 20px;
  max-width: 1050px;
  margin: 0 auto;
}
