.title {
  font: var(--font-l);
}

.subtitle {
  font: var(--font-xm);
}

.text {
  font: var(--font-m);
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.error {
  .title,
  .subtitle {
    color: var(--accent-main-color);
  }

  .text {
    color: var(--accent-secondary-color);
  }
}
