.Sidebar {
  padding: 15px;
  height: calc(100vh - 30px);
  width: var(--sidebar-width);
  background-color: var(--main-color);
  transition: width 0.2s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.create {
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  color: #FDFDFD;
  padding: 5px 30px;
  border-radius: 6px;

  &:hover {
    opacity: 0.9;
  }
}
