.Sidebar {
  padding: 15px;
  height: calc(100vh - 30px);
  width: var(--sidebar-width);
  background-color: var(--main-color);
  transition: width 0.2s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  align-items: end;
}

.icon {
  margin-right: 8px;
  fill: #FDFDFD;
}
