.app_dark_theme {
  --bg-color: #252525;
  --inverted-bg-color: #FDFDFD;
  --main-color: #24484E;
  --secondary-color: #183A40;

  // font
  --accent-main-color: #F15A3B;
  --accent-secondary-color: #FB7A7A;
  --main-font-color: #FDFDFD;
  --secondary-font-color: #FDFDFD;
  --inverted-main-font-color: #191919;
  --add-font-color: #929292;

  // input
  --input-color: #454545;
  --input-focus-color: #606060;
  --input-outline-color: #F3F1F1;
  --input-light-color: #717171;
  --input-gray-color: #606060;
  --input-dark-color: #454545;

  // button
  --button-medium-color: #363636;
  --button-gray-color: #252525;
  --button-dark-color: #191919;

  // code
  --code-bg: #3a3a3a;

  // card
  --card-bg: #454545;

  // listbox
  --listbox-bg: #454545;
  --listbox-hover: #b0b0b0;

  // stars
  --star-hover: none;
}
