.app.dark {
  --bg-color: #252525;
  --inverted-bg-color: #24484E;
  --main-font-color: #FDFDFD;
  --secondary-font-color: #929292;
  --inverted-primary-color: #191919;
  --inverted-secondary-color: #717171;
}
