.app_light_theme {
  --bg-color: #FDFDFD;
  --inverted-bg-color: #252525;
  --main-color: #24484E;
  --secondary-color: #365B61;

  // font
  --accent-main-color: #F15A3B;
  --accent-secondary-color: #C83939;
  --main-font-color: #191919;
  --secondary-font-color: #717171;
  --inverted-main-font-color: #FDFDFD;
  --add-font-color: #929292;

  // input
  --input-color: #F3F1F1;
  --input-focus-color: #FDFDFD;
  --input-outline-color: #454545;
  --input-light-color: #F3F1F1;
  --input-gray-color: #606060;
  --input-dark-color: #454545;

  // button
  --button-medium-color: #40808A;
  --button-gray-color: #365B61;
  --button-dark-color: #183A40;

  // code
  --code-bg: #d3d3d3;

  // card
  --card-bg: #F3F1F1;

  // listbox
  --listbox-bg: #b0b0b0;
  --listbox-hover: #6b6b6b;
}
