.app.light {
  --bg-color: #FDFDFD;
  --inverted-bg-color: #365B61;
  --main-font-color: #191919;
  --secondary-font-color: #929292;
  --inverted-primary-color: #FDFDFD;
  --inverted-secondary-color: #c0c0c0;
}
