.Select {
  border: none;
  background: var(--input-color);
  border-radius: 7px;
  padding: 0 10px;
  height: 40px;
  color: var(--main-font-color);

  &:focus {
    outline: 1px solid var(--input-outline-color);
  }
}

.label {
  margin-bottom: 4px;
  color: var(--secondary-font-color);
  font: var(--font-xs);
}

.wrapper {
  display: flex;
  flex-direction: column;
}
