.Modal {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  pointer-events: none;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
}

.content {
  background: var(--bg-color);
  color: var(--main-font-color);
  padding: 30px;
  border-radius: 20px;
  transition: 0.2s transform;
  transform: scale(0.5);
  max-width: 40%;
}

.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.closing {
  .content {
    transform: scale(0.5);
  }
}


