.NotificationButton {
  .notifications {
    width: 400px;
  }
}

.notificationIcon {
  width: 26px;
  height: 26px;

  svg {
    vertical-align: middle;
  }
}

/* stylelint-disable no-descending-specificity */
.notifications {
  width: 100%;
  min-height: 140px;
  max-height: 500px;
  overflow-y: auto;
}
