.ProfileCard {
  margin-top: 30px;
}

.subtitle {
  margin-bottom: 20px;
}

.wrapper {
  margin-top: 30px;
}

.content {
  flex-wrap: wrap;
}

.buttons {
  margin-top: 25px;
  margin-right: 40px;
  margin-left: auto;
}

.loading,
.error {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
